.container-nav {
    margin-left: 60px;
    padding: 29px;
    width: 80%;
    height: auto;
}

.container-nav h1 {
    margin-left: 227px;
    font-size: 47px;
    font-weight: 800;
    margin-bottom: 39px;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

.nav-tabs {
    border-bottom: 1px solid;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #212121;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-tabs .nav-link {
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: calc(var(--bs-nav-tabs-border-width) * -1);
    background: 0 0;
    border: var(--bs-nav-tabs-border-width) solid #16060600;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.container-inputs {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
}

#nav-registro {
    margin-top: 20px;
}

.container-inputs label {
    margin-left: 11px;
}

.container-inputArea {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
}

.container-inputArea label {
    margin-left: 11px;
}

.container-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.container-shildren {
    display: flex;
    flex-direction: column;
}

.container-shildren label {
    margin-left: 11px;
}

label {
    font-weight: 600;
    color: #565454;
}

.container-botones {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.container-botones button {
    margin: 5px;
}

textArea {
    border: 1px solid #cdc3c3;
    border-radius: 7px;
}

input {
    border-radius: 3px;
    border: 1px solid #cdc3c3;
}

.inputDate {
    width: 204px;
    padding: 7px;
}

/* requerimiento */
#nav-tab-2 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.cuadro {
    width: 540px;
    height: 243px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000;
    margin: 23px;
    padding: 20px;
}

.center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container-hijo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container-hijo label {
    margin-left: 11px;
}


/* grafica */

.donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%
}

p.center-date {
    background: #394264;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
}

.center-date span.scnd-font-color {
    line-height: 0;
}

.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}

#porcion1 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

#porcion1 .quesito {
    background-color: #E64C65;
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
}

#porcion2 {
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
}

#porcion2 .quesito {
    background-color: #11A8AB;
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
}

#porcion3 {
    -webkit-transform: rotate(215deg);
    transform: rotate(215deg);
}

#porcion3 .quesito {
    background-color: #4FC4F6;
    -webkit-transform: rotate(113deg);
    transform: rotate(113deg);
}

#porcionFin {
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);
}

#porcionFin .quesito {
    background-color: #FCB150;
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
}

.titular {
    font-size: 40px;
}

.titulo-h1 {
    margin-left: 0 !important;
}