<html>

<head>

</head>

<body>
    <div class="area">
        <div class="container-nav">
            <h1>Sistema de Evaluacion</h1>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-registro-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-registro" type="button" role="tab" aria-controls="nav-registro"
                        aria-selected="true">Registro</button>
                    <button class="nav-link" id="nav-artefactos-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-artefactos" type="button" role="tab" aria-controls="nav-artefactos"
                        aria-selected="false">Artefactos</button>
                    <button class="nav-link" id="nav-evaluacion-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-evaluacion" type="button" role="tab" aria-controls="nav-evaluacion"
                        aria-selected="false">Evaluación</button>
                    <button class="nav-link" id="nav-calificacion-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-calificacion" type="button" role="tab" aria-controls="nav-calificacion"
                        aria-selected="false">calificacion</button>
                    <button class="nav-link" id="nav-resultado-tab" data-bs-toggle="tab" data-bs-target="#nav-resultado"
                        type="button" role="tab" aria-controls="nav-resultado" aria-selected="false">resultado</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-registro" role="tabpanel"
                    aria-labelledby="nav-registro-tab">Registro
                    <input type="text">
                </div>
                <div class="tab-pane fade" id="nav-artefactos" role="tabpanel" aria-labelledby="nav-artefactos-tab">
                    Artefactos</div>
                <div class="tab-pane fade" id="nav-evaluacion" role="tabpanel" aria-labelledby="nav-evaluacion-tab">
                    Evaluación</div>
                <div class="tab-pane fade" id="nav-calificacion" role="tabpanel" aria-labelledby="nav-calificacion-tab">
                    calificacion</div>
                <div class="tab-pane fade" id="nav-resultado" role="tabpanel" aria-labelledby="nav-resultado-tab">
                    resultado</div>
            </div>
        </div>
    </div>

    <app-menu></app-menu>
</body>

</html>