<div class="login-box">
    <h2>Quality Y&Y</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Nombre de Usuario</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Contraseña</label>
      </div>
      <a href="#" routerLink="../home" routerLinkActive="active">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Ingresar
      </a>
    </form>
  </div>